import React, { forwardRef } from "react";
import { {{pascalCase name}}Props } from "./types";
import { twMerge } from "tailwind-merge";
import { {{camelCase name}}Styles } from "./styles";

export const {{pascalCase name}} = forwardRef<HTMLDivElement, {{pascalCase name}}Props>(
  ({ children, className, ...props }, ref) => {
    return (
      <div
        className={twMerge({{camelCase name}}Styles({ className }))}
        ref={ref}
        {...props}
      >
        {children}
      </div>
    );
  }
);

{{pascalCase name}}.displayName = "{{pascalCase name}}";
